[Desktop Entry]
Name=Notion Electron
Comment=Unofficial Notion desktop client made with Electron for Linux
Exec=/usr/share/notion-electron/dist/notion-electron-linux-x64/notion-electron
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;Office;
Icon=notion-electron

Actions=Options;Updates;About;

[Desktop Action Options]
Name=Options
Exec=dbus-send --session --type=signal --dest=io.github.anechunaev.NotionElectron /io/github/anechunaev/NotionElectron io.github.anechunaev.NotionElectron.Options

[Desktop Action Updates]
Name=Preferences
Exec=dbus-send --session --type=signal --dest=io.github.anechunaev.NotionElectron /io/github/anechunaev/NotionElectron io.github.anechunaev.NotionElectron.Updates

[Desktop Action About]
Name=Preferences
Exec=dbus-send --session --type=signal --dest=io.github.anechunaev.NotionElectron /io/github/anechunaev/NotionElectron io.github.anechunaev.NotionElectron.About
