[Desktop Entry]
Name=Notion Electron
Comment=Unofficial Notion desktop client made with Electron for Linux
Exec=/usr/share/notion-electron/dist/linux-unpacked/notion-electron
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;Office;
Icon=notion