:root {
	--bg: #191919;
	--bg-sidebar: #202020;
	--bg-selected: #262626;
	--border-sidebar: rgba(255, 255, 255, 0.05);
	--border-sidebar-hover: rgba(255, 255, 255, 0.1);

	--color: #9b9b9b;
	--color-hover: #fff;

	--checked: #0d47a1;

	--font-family:
		ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI Variable Display', 'Segoe UI',
		Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
	--font: 500 14px/22px var(--font-family);

	--status-important: #f57f1703;
	--status-important-border: #f9a8252b;
	--status-error: #b71c1c03;
	--status-error-border: #c628282b;
	--statuc-success: #1b5e200a;
	--status-success-border: #2e7d3252;

	--spinner-indicator: #fff2;
	--spinner-indicator-highlight: #fff;
}

@media (prefers-color-scheme: light) {
	:root {
		--bg: #fff;
		--bg-sidebar: #f8f8f7;
		--bg-selected: rgba(0, 0, 0, 0.055);
		--border-sidebar: #ccc;
		--border-sidebar-hover: rgba(0, 0, 0, 0.1);

		--color: #37352f;
		--color-hover: #1d1b16;

		--checked: #1976d2;

		--status-important: #f57f1710;
		--status-important-border: #f9a82563;
		--status-error: #b71c1c0c;
		--status-error-border: #c628283d;
		--statuc-success: #1b5e200a;
		--status-success-border: #2e7d3252;

		--spinner-indicator: #1d1b1622;
		--spinner-indicator-highlight: #1d1b16;
	}
}

html,
body {
	background-color: var(--bg);
	color: var(--color);
	font: var(--font);
	margin: 0;
	padding: 0;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: 100%;
}

a {
	color: var(--color);
}

a:hover {
	color: var(--color-hover);
}

input[type='checkbox'] {
	appearance: none;
	width: 16px;
	height: 16px;
	border: 1px solid var(--color);
	border-radius: 2px;
	background-color: transparent;
	outline: none;
	cursor: pointer;
	margin: 0;
}

input[type='checkbox']:checked {
	background-color: var(--checked);
	border-color: var(--checked);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23fff'%3E%3Cpath d='m400-456 217-216q20-20 47-20t47 20q21 20 21 47.5T711-577L448-313q-20 21-48 21t-48-21L248-417q-20-20-20-47.5t21-47.5q20-20 47.5-20t47.5 20l56 56Z'/%3E%3C/svg%3E");
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: center;
}

input[type='checkbox']:focus {
	box-shadow: 0 0 0 2px var(--color);
}

select {
	appearance: none;
	border: 1px solid var(--color);
	border-radius: 2px;
	background-color: transparent;
	color: var(--color);
	padding: 5px 30px 5px 10px;
	outline: none;
	cursor: pointer;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%239b9b9b'%3E%3Cpath d='M480-394q-6 0-10.75-2t-9.25-7L288.5-574.5q-4-3.5-4.25-8.5t4.25-9.5q4.5-4.5 9-4.5t9 4.5L480-419l173.5-173.5q3.5-3.5 8.5-4t9.5 4q4.5 4.5 4.75 9t-4.25 9L500.5-403q-5 5-9.75 7T480-394Z'/%3E%3C/svg%3E");
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: right 1px center;
	width: 100%;
}

select:focus {
	box-shadow: 0 0 0 2px var(--color);
}

option {
	background-color: var(--bg-sidebar);
	color: var(--color);
}

option:hover,
option:focus {
	color: var(--color-hover);
}

option:checked {
	font-weight: 700;
}

button {
	appearance: none;
	border: none;
	border-radius: 2px;
	background-color: var(--border-sidebar);
	color: var(--color);
	padding: 10px 20px;
	cursor: pointer;
	outline: none;
}

button:hover {
	color: var(--color-hover);
}

button.primary {
	background-color: var(--checked);
	color: #fff;
}

button.primary:hover {
	background-color: var(--checked);
}

button:active {
	background-color: var(--border-sidebar);
}

button:focus {
	box-shadow: 0 0 0 2px var(--color);
}

button:disabled {
	opacity: 0.4;
	cursor: not-allowed;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.tabgroup {
	flex: 0 0 auto;
	display: flex;
	flex-direction: row;
	user-select: none;
}

.tab {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px 20px;
	cursor: pointer;
	min-width: 100px;
	box-sizing: border-box;
	justify-content: center;
	gap: 10px;
	color: var(--color);
	outline: none;
	text-decoration: none;
}

.tab:focus {
	color: var(--color-hover);
}

.tab:hover {
	background-color: var(--bg-sidebar);
}

.tab.selected {
	background-color: var(--bg-selected);
}

.indicator {
	color: #c00;
}

.content {
	flex: 1 1 auto;
	background-color: var(--bg-selected);
	border-bottom: 1px solid var(--border-sidebar);
	box-sizing: border-box;
	min-height: 0;
	overflow: hidden;
	overflow-y: scroll;
	scrollbar-color: var(--bg) var(--bg-selected);
}

.footer {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: end;
	padding: 20px;
	gap: 20px;
}

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 20px;
	width: 100%;
	min-height: 100%;
}

.logo {
	width: 96px;
	height: 96px;
	margin-bottom: 20px;
}

.about-name {
	margin: 0;
}

.about-text {
	margin: 0;
	width: 400px;
}

.about-version {
	width: auto;
	margin-bottom: 20px;
}

.options {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	box-sizing: border-box;
	width: 100%;
	min-height: 100%;
}

.grid {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	width: 100%;
}

.grid-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	gap: 20px;
	width: 100%;
	box-sizing: border-box;
	padding: 10px 20px;
}

.grid-row:hover {
	background-color: var(--border-sidebar);
	color: var(--color-hover);
}

.grid-row.disabled,
.grid-row.disabled:hover {
	opacity: 0.4;
	pointer-events: none;
	color: var(--color);
	background-color: transparent;
}

.option-group {
	margin: 30px 0 10px;
	padding: 0 20px;
	line-height: 24px;
	font-size: 24px;
}

.option {
	flex: 2 2 auto;
	font-weight: 500;
	min-width: 0;
	width: 66%;
}

.option-control {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	min-width: 0;
	width: 33%;
}

.updates {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	box-sizing: border-box;
	width: 100%;
	min-height: 100%;
	padding: 20px;
	gap: 20px;
}

.update-status {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 10px;
	width: 100%;
}

.status-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	gap: 10px;
	width: 100%;
}

.status-label {
	opacity: 0.8;
	flex: 0 0 130px;
}

.status-value {
	font-family: monospace;
	flex: 1 1 auto;
}

.update-stage {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	padding: 20px 20px 20px 50px;
	border-radius: 4px;
	position: relative;
	border: 1px solid var(--border-sidebar);
	background-color: var(--bg-sidebar);
}

.update-stage::before {
	content: '';
	position: absolute;
	top: 18px;
	left: 18px;
	width: 24px;
	height: 24px;
	background-image: url('/icons/dark/status_done.svg');
	opacity: 0.8;
}

.align-end {
	align-self: end;
}

.stage-label {
	margin: 0;
	font-weight: 700;
}

.stage-progress {
	width: 100%;
	margin: 20px 0 10px;
}

.stage-progress-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	font: 400 9pt/12pt monospace;
	opacity: 0.8;
}

.stage-installing::before,
.stage-checking::before {
	background-image: url('/icons/dark/status_waiting.svg');
}

.stage-available::before {
	background-image: url('/icons/dark/status_important.svg');
}

.stage-downloading::before {
	background-image: url('/icons/dark/status_loading.svg');
}

.stage-error::before {
	background-image: url('/icons/dark/status_error.svg');
}

.stage-available {
	border-color: var(--status-important-border);
	background-color: var(--status-important);
}

.stage-installed {
	border-color: var(--status-success-border);
	background-color: var(--statuc-success);
}

.stage-error {
	border-color: var(--status-error-border);
	background-color: var(--status-error);
}

.stage-progress {
	appearance: none;
	box-sizing: border-box;
	border: solid 1px var(--border-sidebar);
	width: 100%;
	height: 20px;
	border-radius: 20px;
	background-clip: content-box;
	background-image: linear-gradient(to bottom, var(--bg), var(--bg-sidebar));
	overflow: hidden;

	--animated-bg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="20" preserveAspectRatio="xMidYMid"><defs><linearGradient id="b" gradientTransform="rotate(90)"><stop offset="0" stop-color="%232979FF" /><stop offset="1" stop-color="%232962FF" /></linearGradient><pattern id="z" patternUnits="userSpaceOnUse" width="100" height="100"><g transform="translate(0)"><rect fill="url(%23b)" width="20" height="20" x="-20" /><rect fill="url(%23b)" width="20" height="20" x="20" /><animateTransform attributeName="transform" type="translate" values="0 0;40 0" keyTimes="0;1" repeatCount="indefinite" dur="1s"/></g></pattern></defs><rect width="40" height="20" fill="url(%23z)" /></svg>');
}

.stage-progress::-webkit-progress-bar {
	background: transparent;
}

.stage-progress::-webkit-progress-value {
	background-color: var(--checked);
	background-image:
		radial-gradient(ellipse, #ffffff38, transparent 80%), var(--animated-bg),
		linear-gradient(to top, #2962ffd0, #2979ffd0);
	background-size:
		auto 5px,
		contain,
		auto;
	background-repeat: no-repeat, repeat-x, no-repeat;
	background-position:
		0 2px,
		0 0,
		0 0;
	border-radius: 20px;
	transition: width 0.2s ease-in-out;
	box-shadow: 0 2px 5px var(--bg-sidebar);
}

.changelog {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: 100%;
	min-height: 200px;
	padding: 0 20px;
}

.changelog dl {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	margin: 0;
}

.changelog dt {
	display: block;
	margin: 0;
	padding: 0;
	flex: 0 0 180px;
}

.changelog dd {
	display: block;
	margin: 0 0 20px;
	padding: 0;
	flex: 1 1 calc(100% - 200px);
}

.changelog small,
.subheader {
	opacity: 0.8;
}

.spinner {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--spinner-indicator-highlight);
	box-shadow:
		20px 0 var(--spinner-indicator-highlight),
		-20px 0 var(--spinner-indicator-highlight);
	position: relative;
	animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
	0% {
		background-color: var(--spinner-indicator);
		box-shadow:
			20px 0 var(--spinner-indicator),
			-20px 0 var(--spinner-indicator-highlight);
	}

	50% {
		background-color: var(--spinner-indicator-highlight);
		box-shadow:
			20px 0 var(--spinner-indicator),
			-20px 0 var(--spinner-indicator);
	}

	100% {
		background-color: var(--spinner-indicator);
		box-shadow:
			20px 0 var(--spinner-indicator-highlight),
			-20px 0 var(--spinner-indicator);
	}
}

@media (prefers-color-scheme: light) {
	select {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='37352f'%3E%3Cpath d='M480-394q-6 0-10.75-2t-9.25-7L288.5-574.5q-4-3.5-4.25-8.5t4.25-9.5q4.5-4.5 9-4.5t9 4.5L480-419l173.5-173.5q3.5-3.5 8.5-4t9.5 4q4.5 4.5 4.75 9t-4.25 9L500.5-403q-5 5-9.75 7T480-394Z'/%3E%3C/svg%3E");
	}

	html,
	body,
	.grid-row:hover {
		background-color: var(--bg-sidebar);
	}

	.tab:hover,
	.tab.selected,
	.content {
		background-color: var(--bg);
		scrollbar-color: var(--border-sidebar) var(--bg);
	}

	button {
		background-color: var(--bg);
		border: 1px solid var(--border-sidebar-hover);
	}

	button:hover {
		border-color: var(--border-sidebar);
	}

	button.primary {
		border: none;
	}

	.update-stage::before {
		background-image: url('/icons/light/status_done.svg');
	}

	.stage-installing::before,
	.stage-checking::before {
		background-image: url('/icons/light/status_waiting.svg');
	}

	.stage-available::before {
		background-image: url('/icons/light/status_important.svg');
	}

	.stage-downloading::before {
		background-image: url('/icons/light/status_loading.svg');
	}

	.stage-error::before {
		background-image: url('/icons/light/status_error.svg');
	}

	.stage-progress {
		background-image: linear-gradient(to bottom, var(--bg-selected), var(--bg));
		--animated-bg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="20" preserveAspectRatio="xMidYMid"><defs><linearGradient id="b" gradientTransform="rotate(90)"><stop offset="0" stop-color="%2300B0FF" /><stop offset="1" stop-color="%230091EA" /></linearGradient><pattern id="z" patternUnits="userSpaceOnUse" width="100" height="100"><g transform="translate(0)"><rect fill="url(%23b)" width="20" height="20" x="-20" /><rect fill="url(%23b)" width="20" height="20" x="20" /><animateTransform attributeName="transform" type="translate" values="0 0;40 0" keyTimes="0;1" repeatCount="indefinite" dur="1s"/></g></pattern></defs><rect width="40" height="20" fill="url(%23z)" /></svg>');
	}

	.stage-progress::-webkit-progress-value {
		background-image:
			radial-gradient(ellipse, #ffffff38, transparent 80%), var(--animated-bg),
			linear-gradient(to top, #0091ead0, #00b0ffd0);
		box-shadow: 0 2px 5px var(--bg-selected);
	}
}

.hidden {
	display: none;
}