name: Electron Build and Release

permissions:
  contents: write

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'test/*'
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        variant:
          - arch: x86_64
            runner: ubuntu-24.04
          - arch: aarch64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.variant.runner }}
    env:
      SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_TOKEN }}

    steps:
    - uses: actions/checkout@v6

    - name: Use Node.js 24
      uses: actions/setup-node@v6
      with:
        node-version: 24
        cache: 'npm'
    - name: 'Setup jq'
      uses: dcarbone/install-jq-action@v3
    - name: Install Snapcraft
      uses: samuelmeuli/action-snapcraft@v3

    - name: Electron Builder Action
      uses: anechunaev/action-electron-builder@6fd8ce62ffad14385ddbb3a43c17d3b52661f3ff # v1.8.0
      with:
        github_token: ${{ secrets.github_token }}
        release: ${{ startsWith(github.ref, 'refs/tags/v') }}
        build_script_name: snap-build
      
    - name: Publish to Snap Store
      run: npm run snap-upload
